.sisuNupud{
    display: grid;
    float: left;

}
body{
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
}
.sisuTekst{
    font-size: large;
    margin-left: 350px;
    margin-right: 50px;
    margin-top: 75px;
    text-align:center

}
.tekst_naita{
    display: inline;
    font-size: 25px;


}
.tekst_peida{
    display: none;
    font-size: large;
}
img{
    width: 50%;
    height: 100%;
}
